body {
    width: 89.6vw;
    height: 89.6vh;
    margin: 0%;
    background-image: url('../Static/images/nyny.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: #ffffffff;
    border-style: solid;
    border-color: black;
    border: 0.1vh 0.1vh 0.1vh 0.1vh;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#TitleSec { 
    height: 100%;
    width: 30%;
    justify-content: center;
    align-content: bottom;
}

#TitleInfos {
    border: 1px solid black;
    height: 100%;
    display: flexbox;
    justify-content: center;
    align-items: center
}

#Sig {
    margin-top: 20vh;
    height: 20vh;
    width: 40vw;
    justify-content: left;
}

#profilePhoto {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}