body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    background-color: #ffffffcc;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

nav {
    min-height: 10vh;
    min-width: 100vw;
    background-color: #000000cc;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    position: fixed;
}

nav button {
    font-family: 'Fresca', sans-serif;
    background: transparent;
    color: white;
    border: none;
    font-size: 3vh;
}

nav button:hover {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: 'Fresca', sans-serif;
    color: #FFDF00;
}

#TitleSec {
    height: 90vh;
    width: 100vw;
    justify-content: right;
    align-content: bottom;
}

#Sig {
    margin-top: 20vh;
    height: 20vh;
    width: 40vw;
    justify-content: left;
}

#profilePhoto {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}