.centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socialIcon {
    margin: 5%;
    height: 12%;
    text-decoration: none;
    color: white;
}

.socialIcon:hover {
    color: goldenrod;
}